///*------------------------------------*\
//    #BASE
//\*------------------------------------*/

* {
	box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    position: relative;
    background-color: $main-gray;
}

section {
    padding: 0 10%;
}