
main {
  .s-1 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/lisbon.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .ig-profile {
    border: 1px solid $black;
    border-radius: 50%;
  }

  .skills {
    padding-top: 20px;

    object {
      width: 100%;
      max-width: 200px;
      padding: 25px;
      transition: 200ms all;

     &:hover {
       transform: scale(1.2);
     } 
    }
  }
}