
main {
  .s-1 {
    display: flex;
    padding-top: 21vw;
    padding-bottom: 22vw;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/lisbon.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}